<!-- This is the footer of the website. It contains information about the store, working hours, contacts and social media links. -->
<footer class="footer" id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-6 mb-4 mb-md-0">
                <h4>Information</h4>
                <ul class="list-unstyled">
                    <li><a asp-page="/Index">Home</a></li>
                    <li><a asp-page="/Shop/Cart">My Cart</a></li>
                    <li><a asp-page="/Shop/Orders">My Orders</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-6 mb-4 mb-md-0">
                <h4>Working Hours</h4>
                <ul class="list-unstyled">
                    <li>Moldova, Chisinau, str. Studentilor</li>
                    <li>Mon-Fri: 9:00 - 17:00</li>
                </ul>
            </div>

            <div class="col-md-3 col-6 mb-4 mb-md-0">
                <h4>Contacts</h4>
                <ul class="list-unstyled">
                    <li><a href="tel:+37367361356">(+373) 067 361 356</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-6">
                <h4>Follow Us</h4>
                <ul class="list-unstyled">
                    <li><a href="https://t.me/mFacttt">Telegram</a></li>
                    <li><a href="https://www.facebook.com">Facebook</a></li>
                    <li><a href="https://www.instagram.com/yelimlizza?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
